[2016-06-20 14:51] fmaul opened #1 "Escape breaks fullscreen view"
Great work Benjamin ;-) .. I found an issue though:

1. Click to open an image and view the image
2. Press Escape to close the image view
3. Try to click on another image

No other image opens by clicking anymore.

Tested on Chrome 53.0.2767.4 dev-m (64-bit)

[2016-09-02 11:43] BenjaminBrandmeier commented on #1
Thanks Florian. Took me some time to continue the work on this project .. :)

I fixed this issue in current master.

[2016-09-02 11:43] #1 closed

[2016-12-29 03:24] bob-lee opened #2 "Left arrow shown when first image clicked"
Nice work, found minor thing: when first image clicked, left arrow is shown wrongly as updateArrowActivation() is not being called. Suggest replace updateArrowActivation() with two getters like:

  public get left(): boolean {
    return this.currentIdx > 0;
  }

  public get right(): boolean {
    return this.currentIdx < this.images.length - 1;
  }

Then in template:

  <img [ngClass]="{'activeA

[2016-12-29 06:04] BenjaminBrandmeier commented on #2
Thanks a lot @bob-lee!
Included your suggestion in the code, just with different method naming.

If you'd like to contribute more, I'm also happy to accept pull requests.

[2016-12-30 12:09] BenjaminBrandmeier opened #3 "Dynamic loading behaviour"
On some mobile devices (+Microsoft Edge) the dynamic loading at the end of the gallery takes the browser to the top again.

The dynamic loading should be handled more intelligent and the look-and-feel be more user-friendly.

[2016-12-30 12:12] BenjaminBrandmeier opened #4 "Pre-processing of big sizes even if original image is smaller"
Pre-processing should only take place up to the size of the original image. After changing the script the viewer has to be adapted accordingly to pick only original images at a certain screen size.

[2016-12-30 12:14] BenjaminBrandmeier opened #5 "Display image metadata"
Display metadata of the image (technical details, etc.) inside the viewer.

TODO:
- Add information to data.json during pre-processing
- Display metadata in a responsive way (I'd like to use ng2material sidenav)

[2016-12-30 12:16] BenjaminBrandmeier opened #6 "Make file download available"
Add an icon button to the configuration menu inside the viewer to download the current image in original size.

[2016-12-30 12:18] BenjaminBrandmeier opened #7 "Going back in browser leaves the page"
Introduce routing concept from the viewer back to the gallery. This is especially important for mobile users.

[2016-12-30 12:20] BenjaminBrandmeier opened #8 "Extended swipe functionality"
Make image in viewer movable during swiping to increase the feedback on mobile devices.

For a first implementation a carousel is not necessary.

[2016-12-30 12:20] BenjaminBrandmeier opened #9 "Add loading spinner"
Add a loading spinner (Angular Material 2) when a new image or a different image resolution is loaded.

[2016-12-30 12:22] BenjaminBrandmeier opened #10 "Make gallery component configurable"
Add the following attributes as input attributes for the gallery component:

- Margin between images
- Image size factor

[2016-12-30 12:23] BenjaminBrandmeier opened #11 "Image preview bar"
Add a preview bar (at least for desktop) during navigation inside viewer.

[2016-12-30 12:24] BenjaminBrandmeier opened #12 "Diashow"
Include a diashow feature to make the viewer go through all images automatically.

[2016-12-30 12:36] BenjaminBrandmeier opened #13 "Configurable sorting in dev mode"
When starting the application in dev mode (ng serve) provide a feature to sort the image order manually.

The result will be a data.json which has to be replaced before building for production.

[2016-12-30 22:56] #3 closed

[2016-12-30 22:57] BenjaminBrandmeier commented on #3
will be included in 0.4.1

[2017-01-01 23:59] #8 closed

[2017-01-03 05:37] BenjaminBrandmeier opened #14 "Image rerendering behaves differently in browsers"
On Firefox:
During the switch from a low to a higher quality (via auto detection or manually selected) the images are flickering now.

On Chrome:
The lower quality image is not displayed. Instead the new image is loaded step by step from top to bottom.

[2017-01-03 12:08] BenjaminBrandmeier commented on #14
resolved by using

* background-image rather than img tag
* pre-rendering mechanism implemented

[2017-01-03 12:08] #14 closed

[2017-01-03 13:31] BenjaminBrandmeier opened #15 "Animations currently not working on some browser-device combinations"
Image viewer animations are currently not working on (at least) the following combinations:

Desktop + Edge
Desktop + IE 11
iPad Mini + Safari
iPad Mini + Firefox

Maybe this is a general Angular 2 issue. It is working e.g. on:

Desktop + Chrome
Desktop + Firefox
Nexus 5 + Chrome
Nexus 5 + Firefox

[2017-01-03 13:33] BenjaminBrandmeier commented on #15
Apparently Angular 2 is based on web-animations (https://medium.com/google-developer-experts/angular-2-animate-router-transitions-6de179e00204).

Let's include that polyfill:
https://github.com/web-animations/web-animations-js

[2017-01-03 13:59] BenjaminBrandmeier commented on #15
Adding the polyfill fixes the issues for all browser combinations listed above. For now IE 11 behaves a little bit juddery. Should create a Plunkr for this an raise an issue.

[2017-01-03 13:59] #15 closed

[2017-01-04 17:44] #10 closed

[2017-01-04 18:38] BenjaminBrandmeier opened #16 "Publish NPM package and make setup easier"
* Publish package to npm
* Re-write conversion script to be smarter and configurable regarding embedding scenario
* Provide step by step integration guide

[2017-01-07 14:39] BenjaminBrandmeier commented on #16
* Since angular-cli doesn't support the publishing process to npm yet, I came up with a custom approach (including compiling typescript, inlining css and html files to components, exporting all components)

* Conversion script is now called differently (see README.md)
* Added step by step guide

[2017-01-07 14:39] #16 closed

[2017-01-08 16:29] BenjaminBrandmeier opened #17 "Use FAB speed dial for options"
Use FAB speed dial from angular material 2 as soon as it's ready. This should display the option for manual quality selection, downloading files, diashow, etc.

https://github.com/angular/material2/issues/860

[2017-01-08 16:32] BenjaminBrandmeier opened #18 "Viewer animations in IE 11 not working properly"
Probably because of some CSS styling like the dynamic changes to `left`.

[2017-01-08 19:08] #18 closed

[2017-01-08 21:44] focher opened #19 "Conversion error when missing Date Time Original in EXIF data"
When running convert.js on a folder of images, if the images do not contain the Date Time Original attribute in the EXIF profile data the script generates an error and aborts.

[code]

Commenting out line 89 `date: features['Profile-EXIF']['Date Time Original']` allows the script to run and complete successfully.

Is Date Time Original required for certain functionality?

[2017-01-09 05:40] BenjaminBrandmeier commented on #19
Thanks for raising awareness on that.
The convert.js script provides two functions to sort your images. One is by file name and one by the original date time you took the image. If you like to upload images of a coverage from a wedding or something like that.

Unfortunately the sortByDate function is commented out hard-coded. We should allow to define the sorting mechanism via a command line param

[2017-01-10 06:23] BenjaminBrandmeier commented on #19
I published another minor version (0.5.5) on npm and made sure that images without EXIF information work as well.

The sorting should be configurable nevertheless. Are you willing to make a PR on this? If you don't respond by Friday I will take care of this on my own.

[2017-01-14 16:40] BenjaminBrandmeier commented on #19
Now you are able to specify the sorting algorithm when running the pre-processing script.
-n (sort by file name, default)
-d (sort by acutal creation time of the image, EXIF)

I'm planning to make a sorting based on the primary image color in the future.
This will be fun, let's see if it works ;-)

[2017-01-14 16:40] #19 closed

[2017-01-18 20:33] BenjaminBrandmeier commented on #19
Just addding a remark here that it is now possible to sort by the primary image color with the -c flag. This can still be considered experimental though.

[2017-02-17 07:30] hxdef2517 opened #22 "External Data Source"
Hi everyone,
My question is how to implement an external data source for this gallery? Let's say if I decide to manage this through admin panel and have more than one gallery, how to load component based on data source?

[2017-02-23 10:11] ddesna opened #23 "SystemJS"
How can I use it with SystemJS ?

[2017-02-26 23:08] christodoulos commented on #22
+1

[2017-03-07 21:02] BenjaminBrandmeier commented on #22
Thanks to @victooor there's now a solution to pre-process and configure multiple image galleries. Is that sufficient for your requirements? #24

Currently it is crucial to run the pre-process script. That means if you have some kind of CMS you have to find a way on how to generate all the different resolutions of your pictures + the data.json file which stores a bunch of metadata used by the galle

[2017-03-08 12:58] maxGross opened #25 "Multiple galleries not working"
### Error when using several gallery names  @f14424b46d2f33f6366db0cc790aa2e471f8e975
e.g. [galleryName]="myGallery"
Console output tells following error:

- Images are provided at the local file structure
- Using the gallery with default root path for all images works fine.

[2017-03-08 13:02] maxGross commented on #25
my fault ...
works great!

[2017-03-08 13:02] #25 closed

[2017-03-10 09:32] nevakee716 opened #26 "Starting in viewer image"
Hello

It would be nice, the gallery can start in viewer image directly

[2017-03-10 09:34] nevakee716 opened #27 "Changing Gallery"
Hello

If I change the galleryName parameter of the component, it doesn't work correctly

[2017-03-12 19:50] patrickmichalina commented on #22
I am pretty sure they mean this as image references returned from an API.

[code]

[2017-03-16 17:51] BenjaminBrandmeier commented on #27
Please be more specific.
Did you ran the pre-processing script with the corresponding gallery name before?

[2017-03-20 20:54] stefan-frank commented on #27
I have got the same issue, I presume.

I have run the pre-processing script with a galleryName (--gName=myGallery). If I then use

`<gallery
    [galleryName]="myGallery" `

I receive an error in the console, that it can not access the resources - instead of "myGallery" the path is substituted with "undefined":
`http://localhost:4200/assets/img/gallery/undefined/preview_xxs/IMG_0306.JPG`

I have b

[2017-03-20 21:33] stefan-frank commented on #27
Probably found the issue:

It may be a life cycle issue: during ngOnInit() the decorated property values haven't been propagated. Therefore the property is still "undefined". The fetchDataAndRender() method must be called later?

[2017-03-20 21:38] stefan-frank commented on #25
What was your fault? It seems someone else and me are making the same fault as well...

[2017-03-21 07:41] maxGross commented on #25
I used the @Input() variable like this: `[galleryName]="galleryName"`
My assumption was that this will refer to the the gallery folder named _galleryName_. But of course this won't work cause angular will look for a variable named _galleryName_!
So i declared a variable `galleryName = "myGalleryFolder"` and it works.

[2017-03-21 18:57] stefan-frank commented on #25
Thanks for your explanation. It works for me as well. The documentation might be enhanced to prevent further misunderstandings.

[2017-03-21 19:00] stefan-frank commented on #27
The solution is outlined in #25. This issue might be closed @nevakee716 ?

[2017-03-21 19:10] rustygreen commented on #25
Just to note, you could do it without declaring a variable (like you were trying to originally), but you'd have to put quotes around the gallery name: `[galleryName]="'galleryName'"`

[2017-03-21 19:23] nevakee716 commented on #27
It's not the same, after the component start, I want to change and display another gallery, so I change the galleryName but it's not working

[2017-03-23 00:52] heidrion opened #28 "I am suggesting a bug fix on "Windows 10""
Hello.
I am a Korean developer.
We will let you know in advance that it was written in Google Translator. ^^ ;;;;
(Please ... hope to be able to communicate)

First of all, thank you very much for sharing the excellent "Component".
It is very small, but I hope to share the problem in use and hope to be helpful.

The "desktop.ini" file generated automatically by the OS causes an error when "gm conv

[2017-03-23 04:42] BenjaminBrandmeier commented on #28
Hello heidrion.

I'm glad you like my gallery! I will provide a fix for this issue with valid image extensions as soon as I have time for it.

[2017-03-23 04:44] BenjaminBrandmeier commented on #27
Alright, understood.

@victooor Do you have time to look into this and provide another PR? Otherwise I will try to get some free time somewhen to fix this.

[2017-03-23 04:49] BenjaminBrandmeier commented on #25
I changed the README to include the single quotes, since this looks more intuitive.

[2017-03-23 04:53] BenjaminBrandmeier opened #29 "Add protractor tests"
Add some protractor tests, because I'm sick of manually checking everything in all browsers. ;-)

Maybe include SauceLabs, Browserstack, etc. for this.

[2017-03-23 20:47] victooor commented on #27
@BenjaminBrandmeier sure, I will look into this

[2017-03-24 09:54] Atkinson88 commented on #22
Has there been any movement on this? I noticed you have the option to use multiple image galleries, but what about retrieving images from say the database and then populating the image gallery i.e external data source.

[2017-03-25 01:14] rustygreen opened #31 "Issue building with angular-cli 1.0.0"
After upgrading to the latest Angular and CLI version, I can no longer build the project when "angular2-image-gallery" is include. I created a brand new project with the new angular-cli 1.0.0 and only added the "angular2-image-gallery" module (and dependencies) - per the README instructions (I have a working instance back under angular-cli version 1.0.0-RC1). I now get the following error ANY time

[2017-03-25 08:45] BenjaminBrandmeier commented on #27
I merged victooor's PR and will publish a new version including this shortly (0.6.1).
This should fix this issue, if not please comment here again.

[2017-03-25 08:45] #27 closed

[2017-03-25 09:19] #28 closed

[2017-03-25 09:24] BenjaminBrandmeier commented on #28
I'm now checking for supported file type extensions. I published a new version 0.6.1 which includes the changes. Please try again with the new version. If there are any remaining issues feel free to comment here again. :)

[2017-03-25 17:24] joandvgv opened #32 "Browser module in lazy loading."
Hi there.
I got this issue:

I'm using angular2-express-starter pack which uses lazy loading.
The problem is pretty specific, but don't know how to solve it.

[2017-03-25 17:45] joandvgv commented on #32
I was able to fix it by modifying angular2imagegallery.module.ts import line from browser module to Common module as follows:

import {CommonModule} from "@angular/common";

[code]

Hope this helps anyone having the same issue.

[2017-03-25 17:45] #32 closed

[2017-03-25 18:04] joandvgv opened #33 "Can't execute node script"
I can't execute the node script provided.
I did npm install -g gm
It is also in my local project node_modules folder but it says the following:

What can I do in order to make it work?

[2017-03-25 18:35] joandvgv commented on #33
Well, just ignore this please. I'm so sorry. Completely forgot to install the binaries, don't know what i was thinking.

[2017-03-25 18:35] #33 closed

[2017-03-25 22:00] born2net commented on #31
I have the same issue, can't use ng-cli 1.0 due to this bug.
[code]

worked fine in release rc.1

[2017-03-25 22:12] born2net commented on #31
@rustygreen still having the same issue?

[2017-03-25 22:29] rustygreen commented on #31
@born2net, yes I am. I have not found a fix yet.

[2017-03-25 23:00] born2net commented on #31
@rustygreen Rob helped out, I had to change in my package.json lib dependencies to peerDependencies and fixed the issue.

[2017-03-25 23:14] aldo-roman commented on #31
Hi @born2net can you specify how your package.json file ended?

Mine is
[code]

but still reproduce the error

[2017-03-25 23:19] born2net commented on #31
see here:
https://github.com/born2net/ng-mslib/blob/master/package.json

[2017-03-26 20:12] BenjaminBrandmeier commented on #31
Thanks for your support guys. I moved the angular dependencies to peerDependencies for now and published a new version of angular2-image-gallery to NPM (0.6.2).
However, if you'd like to use the gallery with Angular-Cli 1.0.0 there are two things to consider:

1. Import BrowserAnimationsModule in your project:
[code]

2. IE 11 currently not working
I only had a quick look at this and it didn't get

[2017-03-26 20:16] BenjaminBrandmeier opened #34 "Migrate to Angular 4"
Migrate to Angular 4 and ensure that everything (especially Animations) are still working on all major browsers + mobile.

When using the project currently in an Angular 4 environment with Angular-CLI 1.0.0 IE 11 is broken.

[2017-03-26 23:59] joandvgv opened #35 "BrowserModule imports."
Hi there. I got a problem using this library.
The specific error can be reproduced here:
http://totalautos.com.ve/#/inicio
When going to gallery it says that BrowserModule has already been loaded in console.

I managed to solve this issue locally by changing your image-gallery-module.ts import from BrowserModule to Common Module. But I have no idea how to fix that in production.

Here's a related

[2017-03-29 17:53] joandvgv commented on #35
Anyone?

[2017-03-30 02:44] wanpeng2008 commented on #35
The same issue

[2017-03-30 04:29] bfan1256 commented on #31
I'm still receiving the same error as @rustygreen even after your 0.6.2 update.

[2017-03-30 04:44] bfan1256 opened #36 "Issue building with Angular CLI Error: Unexpected token: name (Angular2ImageGalleryModule)"
I am receiving this error while building using `ng b -prod` below:
[code]
Does anyone know reason for this?

package.json
[code]
App Module
[code]
npm version: `4.1.2`
node version: `7.4.0`

[2017-04-05 00:53] rustygreen commented on #34
Thanks @BenjaminBrandmeier, this is a great component you put together! Do you have any idea on when you are planning to add CLI 1.0.0 support?

[2017-04-05 01:29] Milan03 opened #38 "Convert Process Failing"
I am trying to use this image gallery with https://github.com/AngularClass/angular2-webpack-starter. I am getting the following error when trying to convert any image:
[code]

Images are basic JPGs no bigger than 100KB.

Any suggestions?

[2017-04-05 12:24] #38 closed

[2017-04-05 12:26] Milan03 commented on #38
I missed the prerequisite to install graphicsmagick, since it was beside node.js I guess I just glossed over it. Got the images converted.

[2017-04-05 18:10] BenjaminBrandmeier opened #39 "Migrate to Angular-CLI 1.0.0"

[2017-04-05 18:11] BenjaminBrandmeier commented on #34
@rustygreen Thanks. As soon as I have some time. Will start with this shortly: https://github.com/BenjaminBrandmeier/angular2-image-gallery/issues/39

[2017-04-05 20:44] BenjaminBrandmeier commented on #31
It seems like we've to do some work for being AOT-compatible:
https://github.com/rangle/angular-2-aot-sandbox

If anyone finds and/or removes the remaining issues in the code or knows of an easy way to find the 'not-aot-compatible' lines of code, please contribute. :)

Otherwise I will have a look at this as soon as I'll find some free time.

[2017-04-05 20:45] BenjaminBrandmeier commented on #39
Upgraded to Angular-CLI 1.0.0. However, we are still not AOT-compatible: #31

[2017-04-05 20:46] #39 closed

[2017-04-05 20:46] bfan1256 commented on #31
I got the entire thing to work by downloading your source code and adding it to my folder structure and then importing each into the app module and declaring/providing the service.

[2017-04-05 20:50] BenjaminBrandmeier commented on #31
Interesting, so we have a dirty workaround. ;)

So it could also be related to my whacky approach to create the library...

However, this issue remains and we need to fix it.

[2017-04-08 13:25] tomteman opened #40 "Multiple galleries - lightbox viewer shows only the "last" gallery"
If you have multiple galleries, clicking an image to open the viewer doesn't update the "images" in the service, and therefore all the listeners to the `ImageService` observable (in this case the viewer) show the last "images" passed to the service, which is the last gallery during initialization.

The fix is that each gallery component calls `ImageService`'s `next()` (via the `updateImages(galler

[2017-04-10 20:19] BenjaminBrandmeier commented on #36
Please try again with the newly published angular2-image-gallery 0.7.0

[2017-04-10 20:19] BenjaminBrandmeier commented on #34
Migration to Angular 4 and angular-cli 1.0.0 completed.

[2017-04-10 20:19] #34 closed

[2017-04-10 20:21] BenjaminBrandmeier commented on #31
Ok folks. I change the library creation process to use the NGC compiler rather than the TSC. With the new approach even AOT shouldn't be an issue any more.

Could one of you retry with the newly published angular2-image-gallery 0.7.0 version?

[2017-04-10 20:23] BenjaminBrandmeier commented on #40
Sounds good to me. Will have a look at this within the next days to merge and publish a new version. :)

[2017-04-10 20:30] BenjaminBrandmeier opened #42 "IE 11 currently broken"
With the new release of 0.7.0 it seems that IE 11 is currently broken.

This might be related to the fact that we are building ES 2015 library modules.

[2017-04-10 20:31] BenjaminBrandmeier commented on #35
I'll have a look into this within the next days.

[2017-04-11 02:45] bfan1256 commented on #36
Alright will do. Thanks @BenjaminBrandmeier !

[2017-04-11 13:27] bfan1256 commented on #36
There still seems to be an error when compiling using `ng build --prod`
Below is the error:
`ERROR in vendor.8131bca24d66709e3bca.bundle.js from UglifyJs
Unexpected token: name (Angular2ImageGalleryModule) [vendor.8131bca24d66709e3bca.bundle.js:21638,6]`

[2017-04-11 23:59] rustygreen commented on #36
Yep, I'm seeing the same thing.

[2017-04-12 18:31] BenjaminBrandmeier commented on #36
You are right. I only tried it with `ng build` and `ng build --aot` which runs perfectly fine. But build -prod doesn't will have a look into this.

[2017-04-14 17:13] BenjaminBrandmeier commented on #36
The reason why `ng build --prod` didn't work was because it uses UglifyJs which has an issue with ES2015 code. So I'm now transpiling to ES5 for the library.

I tested this with angular2-image-gallery 0.7.1 and published it. Please try it again with this version.

[2017-04-14 17:14] BenjaminBrandmeier commented on #31
Update for `ng build --prod` included in 0.7.1.

Would love to hear feedback regarding this issue. Could somebody test it? Otherwise I'll close this issue.

[2017-04-14 17:15] bfan1256 commented on #36
I will test it now. I will let you know the results.

[2017-04-14 17:20] bfan1256 commented on #36
The compilation has worked. Thank you so much! Great work! @BenjaminBrandmeier

[2017-04-14 17:20] #36 closed

[2017-04-14 17:38] BenjaminBrandmeier commented on #40
Merged #37 and released as 0.7.2.

[2017-04-14 17:38] #40 closed

[2017-04-14 18:19] BenjaminBrandmeier commented on #35
Please retry with 0.7.3 and let me know if this fixed the issue.

[2017-04-14 18:33] BenjaminBrandmeier commented on #42
Make sure to include the following modules. If you are using angular-cli, uncommented them inside polyfills.ts:

[code]

This fixes the issues.

[2017-04-14 18:33] #42 closed

[2017-04-20 22:51] stepanic commented on #31
I have issue with v0.7.4

[code]

[2017-04-20 22:56] stepanic commented on #31
@BenjaminBrandmeier ignore my last comment because when I execute this:
[code]
And all errors are gone :D

This module is fantastic Photo Gallery, good job!

[2017-04-21 03:49] BenjaminBrandmeier commented on #31
@stepanic Thanks for the feedback. :)
I will close this issue.

[2017-04-21 03:49] #31 closed

[2017-04-21 03:50] BenjaminBrandmeier commented on #35
This should be fixed. Closing due to inactivity.

[2017-04-21 03:50] #35 closed

[2017-04-21 03:52] joandvgv commented on #35
@BenjaminBrandmeier I've been having troubles to upgrade to angular 4, so I can't try! But I'm pretty sure it is fixed. Thanks!

[2017-04-22 14:56] BenjaminBrandmeier commented on #29
Wrote six protractor tests and integrated Chrome provided by Browserstack inside the Travis build.

Thanks to Browserstack for their open source support!

[2017-04-22 14:56] #29 closed

[2017-04-23 16:57] BenjaminBrandmeier commented on #22
Implemented this feature with angular2-image-gallery 1.0.0.

Documentation: https://github.com/BenjaminBrandmeier/angular2-image-gallery/blob/master/docs/externalDataSource.md

Would like to hear some feedback on this so I can close the issue if the requirements are fulfilled.

Please be aware that the gallery uses an opinionated approach on handling challenges like quality, pre-loading etc. and e

[2017-04-23 16:57] BenjaminBrandmeier commented on #33
Please ignore the commits above. They should belong to #22. ;)

[2017-04-23 22:23] patrickmichalina commented on #22
@BenjaminBrandmeier this new work still relies on a folder structure? Any plans for JSON support?

[2017-04-24 05:22] BenjaminBrandmeier commented on #22
@patrickmichalina The folder structure is not needed necessarily.

The convert script creates two things:
1. A JSON which contains the metadata of your images
2. The converted images in a folder structure

If you are able to use the convert script your life will be much easier. Of course you can create your own JSON with e.g. individual links for every image (one from page1, one from page2, etc.).

[2017-04-24 05:56] BenjaminBrandmeier commented on #22
Just to be clear on this. This is an example of the JSON that is expected currently:

[code]

This is an example for one image. So you define the ordering. But the dimensions (preview_xxs, preview_xs, preview_s, etc.) are mandatory.

The convert script creates this exact data structure plus additional metadata which will be consumed by the gallery in upcoming versions.

[2017-04-24 06:38] BenjaminBrandmeier commented on #22
In addition I have updated the documentation to be more clear on this issue:

- https://github.com/BenjaminBrandmeier/angular2-image-gallery/blob/master/docs/externalDataSource.md
- https://github.com/BenjaminBrandmeier/angular2-image-gallery/blob/master/docs/ownJSON.md

[2017-04-27 05:14] Nixon-Joseph opened #44 "can't view expanded images"
Angular is sanitizing the active image view background-image style.
Getting this any time I attempt to open the image for full size view:

"WARNING: sanitizing unsafe style value url(assets/img/gallery/....."

This is appearing for me on a fresh project, literally built just to test the gallery. Images go through graphicsmagick fine, and I'm getting all the thumbnails without issue (probably becau

[2017-04-28 13:01] Mohendran commented on #35
I am facing the same issue... with lazy loading....
U have to remove BrowserAnimationsModule from Angular2ImageGalleryModule

[2017-05-02 06:23] foto-andreas commented on #4
Cool project! Regarding this issue missing image resolutions should be accepted dynamically by the viewer. I'd like to provide only one or two resolutions, or only the raw size of the image. So many resolutions need much space. I resolved that by using the external url method.

One options, I changed manually in the source, would be cool to have as an attribute at the gallery element

preferredSiz

[2017-05-02 14:50] ajnolte12 commented on #44
Have you been able to get this to work? I am having same issue where expanded photos cannot be viewed on a fresh project. Thumbnails are fine.

[2017-05-02 16:37] Nixon-Joseph commented on #44
I haven't worked on it since that first day. I know it can be fixed by telling Angular it's safe, but I wasn't able (in the short time I tried) to find where to put the filter. I had tried a few places, but it always just broke stuff. If I find some time this weekend, I'll give it another go.

[2017-05-03 19:49] ajnolte12 commented on #44
Took a quick stab at it this afternoon. Was able to get everything working by taking your pipe and wrapping the logic of selecting an image into a function.

`[style.background-image]="getImage(img, j) | safe:'style'"`

`public getImage(img,index){
       return img['viewerImageLoaded'] ? "url('"+img[this.categorySelected]['path']+"')" : Math.abs(this.currentIdx-index) <=1 ? "url('+img['preview_xx

[2017-05-04 01:35] Nixon-Joseph commented on #44
Lol, I'm an idiot, I was trying to modify the built code to get what I needed done. Just cloned the project and am working on building my own version with your suggested edits.
Thanks!

[2017-05-07 20:00] ssglopes opened #46 "Lazy Load this module causes 'BrowserModule has already been loaded' error"
Lazy load this module to trigger the error. The error happens because BrowserAnimationsModule (as BrowserModule) can be included only ones in a project.
It's caused by this line: animations_1.BrowserAnimationsModule inside file angular2imagegallery.module.js
as when commented out it works and relates to:
https://github.com/angular/angular-cli/issues/5684 => post: Perezmarc commented on Mar 29.

[2017-05-10 15:38] Nixon-Joseph commented on #44
Hey, I can't get my stuff to compile/import it into the project. Do you have a tutorial or maybe how you did it so that you could actually use it? thanks.

[2017-05-14 21:39] patrickmichalina commented on #22
@BenjaminBrandmeier OK thanks for the update. Your component is still the best I can find online at the moment... I just don't need the imagemagick stuff. My images are consumed from an API/backend that manages all image data. I will read over the documentation to see if I can fit my model into your component.

[2017-05-16 19:01] rviveiros commented on #44
I can't view the expanded image, and I got no warnings about sanitizing unsafe style. Any new about a definitive solution?

[2017-05-17 13:26] ajnolte12 commented on #44
Ya I did not have any warnings about sanitizing the url but adding the code above fixed it for me. I will try to put together a pull request with the fix this weekend if I have time.

In the meantime you can try editing viewer.component.html and viewer.component.ts to include the code above. You can add the pipe by creating a safe.pipe.ts with the following
`import { Pipe } from '@angular/core';
i

[2017-05-17 16:09] Nixon-Joseph commented on #44
Thanks man, I'm trying that tonight.

[2017-05-19 13:39] mickaelroupie opened #47 "Config with systemjs"
Hi !
I try to use angular2-image-gallery with systemjs.
I am faced with multiple errors in the console.

Can someone explain the configuration to adopt?

Thank you.

[2017-05-19 13:42] mickaelroupie commented on #23
ddesna, I'm faced with the same question. When I try, I have multiple errors.
Did you progress on the question?
Thank you.

[2017-05-30 06:01] GeekyWill opened #48 "Script problem"
I'm sure it's not the script I'm just clueless as how to run it

node node_modules/angular2-image-gallery/convert.js <path/to/your/images>

I'm stuck on this part "<path/to/your/images>"

I'm pretty sure you run this in the terminal right?

[2017-05-31 12:39] elmartino opened #49 "Adding headers to metadataUri url request"
Hi!

Is it possible to add headers to the metadataUri url request? I need this for authentication purposes tot the external Uri.

Another option would be to support the use of a custom local array. Then i could request the data from my external datasource using my own http interceptor for the headers.

Thanks in advance!
Regards,
Martin

[2017-06-08 04:32] robertbaker opened #51 "Request Feat: Collections"
I would like to use this as a portfolio grid.

I would like to group images, and the parent grid would use a preview image as the cover and when you click on it, it will show all of the images underneath that folder aka collection.

Also would like the option of "caption text" so I can put the collection names on hover. Perhaps the possibility to have a sidebar consisting of content (raw ng compon

[2017-06-08 12:52] CristianRoot opened #52 "Cant see the menu button in the expanded view"
Hi, I cant see the menu button, in the demo it works but I cloned the project, set qualitySelectorShown to true and still not working

Someone knows?

Thanks!

[2017-07-10 06:44] karthik04 commented on #46
Same problem here. Lazy loading BrowserAnimationsModule or NoopAnimationsModule throws following error,
`ERROR Error: Uncaught (in promise): Error: BrowserModule has already been loaded. If you need access to common directives such as NgIf and NgFor from a lazy loaded module, import CommonModule instead.
Error: BrowserModule has already been loaded. If you need access to common directives such as

[2017-07-14 09:12] Devqon opened #53 "External source with firebase"
Hi all,

Is there an example available with integration with firebase? I have a firebase function which converts images using ImageMagick, but how can I obtain such a meta json file?

[2017-08-04 01:32] joshterrill opened #54 "How to generate .d.ts files?"
I noticed that in the installed version of the plugin in node_modules, there are some .d.ts files. How do you build those if I'm trying to build this library from source? I made some modifications to the library in a fork to be able to support just passing it an array of images instead of having to always specify a URL that returns JSON. But when I tried to add my fork to my `package.json` file, i

[2017-08-04 01:43] joshterrill commented on #54
I just found out that I can just `import {Angular2ImageGalleryModule} from 'angular2-image-gallery/src/app';`, so I guess I'm good for now. But I'd like to know how to generate the typings.

[2017-08-17 12:45] joshterrill commented on #54
I'm going to close this out for now since I haven't received an answer yet and am able to import the library straight from `src/app` in my `app.module.ts` file anyway.

[2017-08-17 12:45] #54 closed

[2017-08-19 12:14] OdaiTu commented on #22
@BenjaminBrandmeier
thank you for this great module
i would ask if i can use pagination to mangne the number of images per page
if i would fetch 1000 photos but 20 one per page !!

[2017-08-19 16:22] urdenko opened #55 "Jumping Scroll"
Some browsers, for example, the Yandex Browser, can change the height of the working area of the screen during scrolling. The gallery reacts to this by jumping into the headline. Live video is [here](https://drive.google.com/open?id=0BwR3upFr9kcDLTN1UTB3RmlOYjQ).

[2017-09-14 12:31] almgwary opened #56 "Ionic animations.es5.js:4 Uncaught TypeError: Cannot read property 'prototype' of undefined"
After installin in working ionic project, i get this error

![image](https://user-images.githubusercontent.com/7817756/30430681-456179b0-995c-11e7-9fcc-fb364294f809.png)

![image](https://user-images.githubusercontent.com/7817756/30429825-31e19918-9959-11e7-976a-3d8443712d10.png)

[code]

[2017-09-14 12:58] almgwary commented on #56
**SOLVED**

I found  same issue with solution[ source here  ](https://github.com/angular/angular/issues/17400#issuecomment-307995068)
install `@angular/animations@4.1.3`  and it worked again.

[2017-09-14 12:58] #56 closed

[2017-09-21 20:16] Dmitri-Filatov opened #57 "Large number of images: Cannot read property 'nativeElement' of undefined"
I tested it with about 60 images and it errors out. Looks like it does not happen with small amount.
core.es5.js:1020 ERROR TypeError: Cannot read property 'nativeElement' of undefined
    at GalleryComponent.webpackJsonp.../../../../angular2-image-gallery/gallery/gallery.component.js.GalleryComponent.checkForAsyncLoading (gallery.component.js:167)
    at gallery.component.js:144
    at Array.forE

[2017-10-01 11:03] jenny59 opened #58 "Problem if i use multiple galleries"
I use 3 photo galleries which can be selected via TabControl. The first (default) always works,

![2017-10-01 12_39_15-jlabimagegallery-ok](https://user-images.githubusercontent.com/13096134/31053911-52dfc814-a6a7-11e7-932d-91716a04c45c.png)
                          (Gallery 1 is ok)

<br>
the other two do not, the thumbnail is not displayed correctly.

![2017-10-01 12_38_12-jlabimagegallery-nok]

[2017-10-02 18:39] JennHaggerty commented on #48
Correct, you run this command in the terminal and replace the last part with your path.
`node node_modules/angular2-image-gallery/convert.js /image/jpegs/01.jpg`

[2017-10-02 18:42] JennHaggerty opened #59 "ERROR TypeError: _this.images.forEach is not a function"
I'm using an external source, 500px, for my images and am able to read the data by following the link however when I use the code `<gallery [metadataUri]="'https://api.500px.com/v1/photos?...'"></gallery>` I receive the error: ERROR TypeError: _this.images.forEach is not a function

[2017-10-20 08:56] johndi9 commented on #46
Are there any news on this side? I get the same issue as @ssglopes. What I'm doing for the moment is commenting too `BrowserAnimationsModule` after installing the dependency.

[2017-10-20 20:11] karan-kapoor90 opened #60 "Nav bar on top of the image view"
On both, mobile and desktop, the image view coming behind the nav bar for some reason. Because of this the gallery doesn't work properly... is this a known issue?

Further, on mobile, the image view isn't responsive in this given scenario, so you don't see the 'x' to close the image view and you see the zoomed in section of the image - whatever fits your screen, not the whole image.

I'm not sure

[2017-10-24 15:24] unbekannt3DE commented on #60
Have the same issue with mdbootstrap, tried to add a padding to the viewer container but doesn't work.

[2017-10-25 01:48] MiguelZablah commented on #60
Have the same issue on bootstrap 4 navbar fixed and also with some bootstrap 4 buttons

[2017-10-25 15:28] bernardschyns opened #61 "rollup make this issue when I rollup my app"
When I run my angular-cli app with jit, I get no problem..
When I try to roll-up following the "tour of heroes" documentation of angular....I catch this message error about "angular2-image-gallery"...

src/main-aot.js → aot/dist/build.js...
'angular2-image-gallery' is imported by src/app/app.module.js, but could not be resolved – treating it as an external dependency

[2017-10-25 21:39] mathsusan commented on #60
I added
.outerContainer[_ngcontent-c2]{
    z-index: 1031;
}

to my css and it seems to work, problem seems to be the z-index of the fixed navbar

[2017-11-22 12:42] VoroshilovMax opened #62 "button to change quality"
Every thing work correct, but i don't see a button to change quality! How to fix it! How to add button to the gallery?

[2017-11-23 12:58] Danubius1st opened #63 "convert.js error"
node node_modules/angular2-image-gallery/convert.js <path/to/your/images> --gName=yourGalleryName

TypeError: Cannot read property 'name' of undefined
    var filePath = assetsAbsoluteBasePath + resolution.name + '/' + imgMetadata. name;
                                                                                                                                 ^
node -v
v8.7.0

[2017-11-28 15:09] shanieMoonlight opened #64 "Unwanted image rotation"
Hi,

I'm using your angular2-image-gallery and find it very useful.
I'm having one problem though. All my portrait oriented images are being shown in landscape format.
I've checked the underlying files and they are in portrait orientation.

Is there a setting I'm leaving out?

Thanks
Shane

[2017-12-28 10:51] v-bodnar commented on #64
I'm also facing the same problem!
I think problem is that photos are actually saved in landscape format, but your camera saves [exif data ](http://jpegclub.org/exif_orientation.html) and because of that most viewers automatically rotate it. Browser does not rotate them though. So extra check for exif tag orientation is needed in the code of the gallery.

[2017-12-30 14:23] v-bodnar commented on #64
Added some temporal resolution that works for me. 'orientation' property has to be added to json.
It can be found in the forked https://github.com/v-bodnar/angular2-image-gallery

[2018-01-06 19:43] Roundaround commented on #63
Getting the same error on Node v7.2.1

[2018-01-06 19:58] Roundaround commented on #63
Did some digging, looks like this is an error at convert.js:112. Collecting the file extension is currently using indexOf to find the start of the extension, when it should instead be using lastIndexOf. Will make a pull request.

@Danubius1st as a workaround in the meantime you can replace line 112 of convert.js with this:
`        var extension = file.substring(file.lastIndexOf(".")+1, file.lengt

[2018-01-16 17:23] gitsjhare opened #66 "can't assign dynamic metadata url"
in gallery we need to provide [metadata] in case of using external json file for images, here always we need to put hard coded URL like "'/assits/img/images.json'", but here we can't put dynamic URL like [metadata]="'{{url}}'" where url consists dynamic url bind from typescript/angular class.

[2018-01-18 22:00] IIvanov8888 opened #67 "Uncaught Error: Unexpected value 'Angular2ImageGalleryModule' imported by the module 'GalleryModule'. Please add a @NgModule annotation"
Seeing the following error on Angular CLI 1.6

```Uncaught Error: Unexpected value 'Angular2ImageGalleryModule' imported by the module 'AppModule'. Please add a @NgModule annotation```

[code]

[2018-01-23 08:52] elmartino commented on #67
Did you managed to fix this?

[2018-01-23 09:45] IIvanov8888 commented on #67
hi,
I managed to get the module working , but it seems like either the images I am using are not suitable or there is a bug in how the thumbnails are displayed. Please see a screenshot below. If I zoom out and in the browser , then the thumbnails appear back. Any suggestions ?

<img width="924" alt="screen shot 2018-01-23 at 10 40 26" src="https://user-images.githubusercontent.com/22252962/3526864

[2018-01-23 13:10] IIvanov8888 commented on #64
@v-bodnar
I got the latest master branch of your **angular2-image-gallery** and got the following error
[code]

[2018-01-24 19:15] v-bodnar commented on #64
@IIvanov8888
Thanks fixed it in the commit 7a06e340c498981e97eaebf1c6f2c73185fc0a26
But if you just need orientation check out 571099c49334180a69d723fa1374cce12d87bbd5 later I have added few libraries and some code for my private project

[2018-01-24 21:19] IIvanov8888 commented on #64
thanks @v-bodnar , I got the latest version , but it seems like there is one more issue with jquery
[code]

Do you happen to see the thumbnails broken when displaying the images ? I need to zoom in and out to have them properly displayed.
<img width="1246" alt="screen shot 2018-01-24 at 22 13 28" src="https://user-images.githubusercontent.com/22252962/35357690-9b17043c-0154-11e8-80af-fc276425a42d.

[2018-01-25 21:17] v-bodnar commented on #64
About jquery, try to run npm install jquery
As I have mentioned previously, I have added a lot of stuff in later commits (jquery, bootstrap, fontawesome, added some pipes), consider using version from 571099c49334180a69d723fa1374cce12d87bbd5

About problem with broken thumbnails, images are downloaded as you scroll down, there is a function that detects scrolling position and calculates if you hav

[2018-01-26 08:36] IIvanov8888 commented on #64
@v-bodnar thanks , I had mat-card as wrapper of the gallery , that seems to be an issue with the thumbnails.

[2018-01-26 08:36] IIvanov8888 commented on #67
mat-card caused the thumbnails to be broken , closing the issue

[2018-01-26 08:36] #67 closed

[2018-02-04 22:25] jgermanis commented on #67
@IIvanov8888 Could you please share how to fix error, as I am also having this error:
Uncaught Error: Unexpected value 'Angular2ImageGalleryModule' imported by the module 'AppModule'. Please add a @NgModule annotation.

[2018-02-05 08:29] IIvanov8888 commented on #67
@jgermanis try to update your **tsconfig.app.json** with the following
[code]

[2018-02-24 21:15] Slobx13 commented on #35
@Mohendran it worked for local but not for build -prod. @BenjaminBrandmeier can you find some solution on gallery version 1.0.1?

[2018-02-25 14:08] Mohendran commented on #35
@Slobx13 Can u show a screenshot of what the error is? When u run build-prod

[2018-02-25 20:44] Slobx13 commented on #35
@Mohendran  Its ok now. Tnx  anyway.I just removed common Module from my component after removing BrowserAnimationModule from Angular2ImageGalleryModule.

[2018-03-08 16:44] fpiergen opened #68 "Angular 5"
Having trouble with Angular 5. Is this a known issue?

[2018-03-10 06:45] zoness32 commented on #68
Angular 5 brings some breaking changes, the most notable of which is the removal of the HttpModule and its replacement with the HttpClientModule. I was able to fix most of the errors by replacing the references to Http with HttpClient and patching up a few other easy-to-fix things. I had to copy the source files directly into my project to fix the issues and keep them fixed, but once I'm finished

[2018-03-27 17:14] luchusnet opened #69 "Angular2ImageGalleryModule"
When run ng build, "Cannot find name 'Angular2ImageGalleryModule'"

`import { BrowserModule } from '@angular/platform-browser';
import { NgModule } from '@angular/core';
import { FormsModule }   from '@angular/forms';

import { AppComponent } from './app.component';
import { CoreModule } from './core/core.module';
import { HomeModule } from './home/home.module';
import { StaffModule } from './staf

[2018-03-27 17:19] Meistercoach83 commented on #69
you didn´t import the module in the import section?!

[2018-03-27 18:45] luchusnet commented on #69
😱

On Tue, Mar 27, 2018 at 2:19 PM Meistercoach83 <notifications@github.com>
wrote:

--
Luciano A. Benítez
La Plata - Argentina

[2018-03-30 02:57] efgonz commented on #68
There will be Angular 5 support?

[2018-05-02 10:27] ngervasi commented on #68
Any news on Angular 5/6 support?

[2018-05-02 15:22] alessandroderoma opened #70 "Unexpected value 'Angular2ImageGalleryModule' imported by the module 'AppModule'. Please add a @NgModule annotation."
I installed it like this:

[code]

My app.module.ts:

[code]
Generated a gallery with this command:

[code]
It executed without errors.

I updated my polyfills.ts:
[code]

Then, in my app.component.ts:

[code]

Result:

[code]

Useful info:

[code]

[2018-06-03 15:45] MrSkip commented on #70
Unfortunately, I have the same issue. @harlandraka did you find the way how to fix it?

[2018-06-09 14:11] #63 closed

[2018-06-09 14:13] BenjaminBrandmeier commented on #63
will be included in the next library release. if needed now, take the file from this source repo.

[2018-06-09 14:38] #64 closed

[2018-06-09 14:41] BenjaminBrandmeier commented on #64
I used a different approach via graphicsmagick to solve this. The fix will the issue for all images containing EXIF orientation information. Will be included in the next published version. Publishing the next version might take a while.

[2018-06-09 16:47] #48 closed

[2018-06-09 16:53] BenjaminBrandmeier commented on #68
I paused this project for some time now and to be honest I suppose there won't be much improvements in the near future, but I'm planning on bumping this to be Angular 6 compatible and to add some performance improvements. I hope to publish an Angular 6 compatible version within June and will keep you up to date if its ready within this issue.

[2018-06-09 16:55] #69 closed

[2018-06-10 19:40] BenjaminBrandmeier commented on #62
It was part of an old version (the one published) and not part of the current code right now. I do not have any plans to support the client-side manual quality selection in the near future. There is functionality implemented to auto-adjust the image quality.

[2018-06-10 19:40] #62 closed

[2018-06-17 09:33] BenjaminBrandmeier commented on #23
I did not have an in-depth look into this, but he newest version (6.0.0) is published as angular package format. I got rid of the custom library generation with this release.

Can you retest this and give some insights and error details?

[2018-06-17 09:34] BenjaminBrandmeier commented on #46
Please try it again now with the newest published version (6.0.0).

[2018-06-17 09:35] BenjaminBrandmeier commented on #47
same as #23

[2018-06-17 09:35] #47 closed

[2018-06-17 09:36] BenjaminBrandmeier commented on #49
This is an opinionated library with very limited support for serving data through remote locations. I'd recommend you fork this project and add your custom headers, the implementation should be basic.

[2018-06-17 09:36] #49 closed

[2018-06-17 09:37] BenjaminBrandmeier commented on #57
Please try again with the latest version.

[2018-06-17 09:38] BenjaminBrandmeier commented on #59
Did you provide the required JSON file at 500px?

[2018-06-17 09:46] BenjaminBrandmeier commented on #60
@mathsusan Thanks for the support. I added the zindex to the outerContainer CSS. It will be part of the next published version of the gallery (6.0.2+).

[2018-06-17 09:46] #60 closed

[2018-06-17 09:47] BenjaminBrandmeier commented on #61
Please try again with the newest published version. It was published with the angular package format.

[2018-06-17 09:48] BenjaminBrandmeier commented on #68
Angular 6 officially supported! Checkout out the latest version and let me know if there are any issues.

[2018-06-17 09:48] #68 closed

[2018-06-17 09:50] BenjaminBrandmeier commented on #70
Please try again with the latest version supporting Angular 6.

[2018-06-17 17:46] IIvanov8888 commented on #70
WARNING in ../node_modules/angular2-image-gallery/node_modules/@angular/core/@angular/core.es5.js
5659:15-36 Critical dependency: the request of a dependency is an expression

WARNING in ../node_modules/angular2-image-gallery/node_modules/@angular/core/@angular/core.es5.js
5675:15-102 Critical dependency: the request of a dependency is an expression

Im getting this with the latest version

[2018-06-21 13:13] salehasadi opened #71 "import error"
hi as i import this into my module the angular throws this error to console:
ERROR Error: "Uncaught (in promise): Error: BrowserModule has already been loaded. If you need access to common directives such as NgIf and NgFor from a lazy loaded module.

my version:
angular2-image-gallery@6.0.1

[2018-07-06 19:58] gatorpazz commented on #44
Hey! I see this is an older issue but I'm experiencing it with an Angular 6 project I'm working on. I'm a bit noobish with Angular so I'm not sure where to put these fixes. Can someone break it down for me? Thank you!

[2018-07-13 15:07] karimzg commented on #46
Still not working with 6.0.2. Any idea of when it could be fixed?

[2018-07-20 14:58] zankhna-mistry commented on #66
try following line in your ts file

[2018-07-29 17:50] doruchiulan opened #72 "Arrows are in center of the image"
I am on Angular 6.1.0, and using "angular2-image-gallery": "^6.0.2".

Unfortunately in viewer my right/left arrows are in the center of the screen instead of right/left part of the screen.

I am not sure if I'm causing this by some CSS I am using.

Do you have any idea on this?

[2018-07-29 18:05] doruchiulan commented on #72
Solved it.

I had img width 100% in my global CSS

[2018-07-29 18:05] #72 closed

[2018-08-04 17:54] Izzatbek commented on #44
Same for me, not working on a fresh Angular 6 project

[2018-08-10 20:47] ajnolte12 commented on #44
Been a while since I worked on this, but you can see how I implemented the image viewer here. I cloned the repo and brought it into my project with some modifications. - https://github.com/ajnolte12/beta-sig-website/tree/master/src/app/gallery/image-gallery

[2018-09-05 08:30] sofiag opened #73 "data.js not found when the option [galleryName]="'yourGalleryName'" is added to the html"
When trying to run the app with the suggested html code:
[code]

I get the error:

[code]

I figured out by looking at your code that I have to remove the `[galleryName]="'yourGalleryName'"` option.

I don't know how to set the `galleryName` for this to work, for the time being I just remove it.

[2018-09-05 14:48] sofiag commented on #73
I hadn't seen that I have to run the convert command with the option --gName=yourGalleryName.
It is resolved

[2018-09-05 14:48] #73 closed

[2018-09-06 08:46] BenjaminBrandmeier commented on #73
@sofiag The documentation states that all parameters are optional.

[galleryName] and --gName is only needed if using multiple galleries.

[2018-09-28 14:14] kevinbroit commented on #71
same problem...

[2018-11-30 12:49] Blamax opened #74 "Angular 7 Compatibility"
Hello!
Are there any plans to make the module usable for Angular 7?
Thanks in advance!

[2018-12-02 16:56] NomiBZ commented on #74
I am joining...

[2018-12-28 12:18] BenjaminBrandmeier commented on #74
definitely planned, most likely some day within the next 2 weeks

[2019-01-05 19:57] BenjaminBrandmeier commented on #74
done, feedback would be highly appreciated!

[2019-01-06 13:45] NomiBZ commented on #74
Thanks!
Why is the demo inactive?

[2019-01-06 19:10] BenjaminBrandmeier commented on #74
@NomiBZ The demo is running fine for me at https://oidamo.de/angular2-image-gallery

Did I miss anything?

[2019-01-06 19:10] #74 closed

[2019-01-14 00:06] Mattesackboy opened #75 "Can't zoom on ImageViewer (mobile)"
When I open an Image and the Viewer gets presented I'm unable to pinch to zoom.

[2019-03-11 18:54] anetz89 opened #76 "maxRowsPerPage does not jump to top on page switch"
First of all, great job! So far the best image gallery I found as npm package!

Using the maxRowsPerPage option adds two navigation buttons at the bottom of the gallery page. Whenever you click on one of those buttons, the page changes (as expected), but the vertical scroll position stays the same. This effect occurs, whenever the rows of the gallery extend the visible part of the browser window (

[2019-06-05 00:33] leaffan opened #77 "How to integrate gallery in template?"
Pretty sure that's not an actual issue but my ignorance, but I just can't get the gallery images displayed on my page. I have run the conversion script successfully and all the image data is located correctly at *assets/img/gallery/* just as the script demanded. But after embedding the gallery directive in my template (as explained in point 5 of the step-by-step manual) I still get the following e

[2019-06-13 20:20] dmbrenneman commented on #6
Any progress with this feature? This would be very useful.

I'm wondering if displaying the image as an actual <img> in the viewer instead of as the background-img of the containing <div> would be an approach to allow downloading via right-click > Save as. That might also help to solve an issue another user mentioned about not being able to pinch to zoom on mobile devices.

Any Thoughts?

[2019-06-29 16:20] mmezian opened #78 "this.render() not showing gallery unless i resize the window"
First, I would like to congratulate you on the quality of this gallery and thank you for sharing with the community.

I just installed the component, it works but... the gallery doesn't render unless I resize the screen.

I pinpointed the problem to the this part :

`                    // twice, single leads to different strange browser behaviour
                    this.render();

[2019-06-29 16:22] mmezian commented on #78
I would like to add that I use angular 8, and I send the Json URL through the component input [metadataUri]

[2019-06-29 19:01] mmezian commented on #78
The images are not showing because they say src(unknown), when I resize the window they show up with proper src

[2019-07-07 19:52] rustygreen opened #79 "Issue lazy loading module"
This library does not work when trying to use it in lazy-loaded modules, due to the fact that the library imports "BrowserAnimationsModule". An angular library should not import this module.

This library (with the current module imports) cannot be used in lazily-loaded modules and cannot be used with server-side render (Angular Universal). I suggest removing the "BrowserAnimationsModule" import.

[2019-07-10 07:34] BenjaminBrandmeier commented on #79
Yes, would love to merge a PR on this topic.

Please do me a favor and test the integration in default projects without lazy loading before submitting the PR. I will do so as well when I find some time but this will save roundtrips.

[2019-07-10 07:35] BenjaminBrandmeier commented on #78
Which browsers does this affect?

[2019-07-10 16:58] mmezian commented on #78
I had tested on Chrome for now (Version 75.0.3770.100 64-bit)

[2019-07-10 17:05] mmezian commented on #78
Just tested on Firefox, it's the same problem

[2019-07-10 17:06] mmezian commented on #78
There's something else : the gallery needs to be in my visible part of the screen, before I resize, for it to be visible.

Meaning : If I'm not looking at the gallery, and I resize, nothing happens.

I need to see the gallery on my visible screen, then resize, and then it appears.

I'm using angular 8

[2019-07-20 19:09] mmezian commented on #78
Any help with this? If I can't get it working, I'll have to use something else...

[2019-07-21 17:37] abovelaika commented on #78
Hello, it might be an issue with scrollIntoView(), could you please test this:
File: gallery.component.ts
Replace the method on line 238 to just return true like this:

    private isScrolledIntoView(element: any): boolean {
        return true;
    }

Hope that helps!

[2019-07-21 18:46] mmezian commented on #78
Hi,

Thanks for your help. Unfortunately, I did that and the problem is still there. I have to resize the window while seeing the pictures for it to show the thumbnails.

here is how it looks like before I resize :
https://imgur.com/JCHnDN0

here is the code inspection of the thumbnail image while it is not showing:
https://imgur.com/uGYMmUd

Here it is working after i resize window while seeing i

[2019-07-21 19:40] abovelaika commented on #78
I am sorry but your screenshots don't really help since also in the demo if you inspect you will see that most of the src are unknown until you scroll into view them. That is why I am thinking that your bug is related to it. Could you share your code? Sorry, but I cannot reproduce this issue by cloning the repo.

[2019-07-21 22:11] mmezian commented on #78
Can I send you the zip file somewhere? I can't manage to put the gallery library and the gallery component here without it bugging, and I'm not allowed to share the whole project source code

Thank you

[2019-07-21 22:32] mmezian commented on #78
Sorry I can't get it to work with stackblits but I hosted the code there so you can see :

https://stackblitz.com/edit/angular-xw1rnp

[2019-07-21 22:33] mmezian commented on #78
Oh I fixed it by installing animation plugin. You can reproduce, just that the images will be broken images when it's supposed to happen, instead of gray zones.

[2019-07-22 19:36] abovelaika commented on #78
Hi, testing on stackblitz it's very painful and I see that you have a custom structure right there, to identify a bug it's better to follow the original file structure. Forked the original repo, made two versions, master is basically the same. I would suggest you to start from the branch simplified, I also pushed some dummy images just for testing. Could you either clone or just implement my chang

[2019-07-24 18:07] mmezian commented on #78
Please share with me your stackblitz I will test and try to find what difference I made that could be causing this. Meanwhile I will start by testing locally to check if it's the delay from the API that's causing the issue.

[2019-07-24 20:57] mmezian commented on #78
I just compared, line by line, everything between my code and yours, it's exactly the same now and the problem is still exactly the same.

This brings me to only two options remaining :

- Angular 8 not being compatible,
- my DATA.JSON file which is incorrect

I am using Sharp instead of Imagemagick so I updated the script and the json file.

Could you check if this is correct
`[
    {
        "ra

[2019-07-24 21:06] mmezian commented on #78
OK Guys I found the problem. The gallery loads FINE when it is above the fold (visible part of the screen).

If I have to scroll way down to see it, it will NEVER load if its not visible.

Anyone knows how to fix this ?

[2019-07-27 12:04] mmezian commented on #78
Anyone else could test the script bellow the fold (bellow the visible part of the screen)  and see if it loads ?

[2019-08-25 00:05] mayrong commented on #79
yes! i agree with @rustygreen. How can i remove BrowserAnimationsModule?

[2019-08-29 08:19] Mattesackboy commented on #75
Up

[2019-08-29 08:57] Mattesackboy commented on #75
Fast fix: Just don’t import hammerjs

[2019-09-17 13:35] CuriousNewt opened #80 "Cannot find module 'gm'"
internal/modules/cjs/loader.js:638
    throw err;
    ^

Error: Cannot find module 'gm'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._load (internal/modules/cjs/loader.js:562:25)
    at Module.require (internal/modules/cjs/loader.js:692:17)
    at require (internal/modules/cjs/helpers.js:25:18)
    at Object.<anonymous> (C:\Users\Marek\Desk

[2019-09-17 18:50] supersexy opened #81 "Feature: overlay buttons with click events as plugins"
It would be extremely useful if we could implement overlay buttons with click handlers, e.g. for sharing or rating pictures or doing anything related to user interaction.

I believe it would make sense if you decided how to implement such optional overlays in a way that it still is extensible, so people could add their own "button action plugin" easily.

Do you think this is interesting?

[2019-09-18 04:52] CuriousNewt commented on #80
Solved - npm install gm --save

[2019-09-18 04:52] #80 closed

[2019-12-14 04:25] masterbg94 commented on #70
Anyone fixed ?

[2020-01-05 19:11] LeanderCoevoet commented on #4
Made a pull request for this:
https://github.com/BenjaminBrandmeier/angular2-image-gallery/pull/83

[2020-01-06 09:37] DalalShimlani opened #84 "error when running this:node node_modules/angular2-image-gallery/convert.js"
when I try to run this
node node_modules/angular2-image-gallery/convert.js /asstes/
i get this

 asstes/
internal/modules/cjs/loader.js:969
    throw err;
    ^

Error: Cannot find module '/Users/lo/my-project/node_modules/angular2-image-gallery/convert.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:966:17)
    at Function.Module._load (internal/modules/cjs/loader.js:8

[2020-01-07 07:03] LeanderCoevoet commented on #84
You need to add the following as a devDependency: gm and onecolor.
So
[code]

[2020-02-06 16:52] jschuldes commented on #78
I´ve had the same problem. The thumbnails in the invisible part of the page doesn´t get rendered after they got scrolled into view. I started a new small project with angular 8.2 and material. In my case the problem was that I didn´t receive a scroll event and therefore the code for loading the images wasn´t called.
Following line added in ngOnInit() resolved my problem:

`window.addEventListener(

[2020-02-11 23:08] MarcFarres commented on #79
I have similar error when uses it on lazy loaded module

Error: BrowserModule has already been loaded. If you need access to common directives such as NgIf and NgFor from a lazy loaded module, import CommonModule instead.

[2020-03-13 00:51] dhrn opened #85 "Support for angular 9"

[2020-03-25 08:15] sebrojas14 commented on #85
?

[2020-03-25 08:31] dhrn commented on #85
what do you mean by `?`.

[2020-05-24 17:05] 1nv1n opened #90 "'gallery' is not a known element"
This is the full error:

[code]

I've imported the module in `core.module.ts`. What am I missing?

If I import `Angular2ImageGalleryModule` in the component I want to use it on, I get the error on #79:

[code]

I'm using this: https://github.com/tomastrajan/angular-ngrx-material-starter as the base for my project. Dependencies:
[code]

[2020-06-19 20:37] beubzz opened #92 "fix some litle boring issues"
Hello,
Thanks for you realy great and usefull package.
I'm using it on a project but i'm facing of two small but boring issues :
this function have a bug : isScrolledIntoView() if the gallery is not in the viewport, some images dont' load. i have fixing this by return true all time in this function : isScrolledIntoView().
And on the end of this function : scaleGallery() i get a console error "EXCE

[2020-07-06 15:24] Danubius1st opened #93 "angular 10"
Package "angular2-image-gallery" has an incompatible peer dependency to "@angular/core" (requires "^8.1.1" (extended), would install "10.0.2")

[2020-11-12 22:15] Fiehra commented on #93
not compatible with angular 10? any alternatives?

[2020-11-13 07:12] Danubius1st commented on #93
Resolved: working with new projects.

[2020-11-13 07:12] #93 closed

[2020-11-21 21:31] Fiehra opened #97 "upgrade to angular 10 error"
when upgrading my angular CLI from 9.1.2 to 10 the following error occurs.

![Capture](https://user-images.githubusercontent.com/45260245/99888004-47934280-2c49-11eb-9616-542628100487.JPG)

[2021-02-11 16:15] Danubius1st commented on #97
Remove angular2-image-gallery
Upgrade angular
Install angular2-image-gallery

Hope this help.

[2021-06-16 17:04] detrist commented on #90
As a workaround you can try to fix it by disabling the BrowserModule in your app.module.ts file.

[2021-06-20 08:52] rv-github opened #106 "Error on :Run convert script" - TypeError: invalid options argument"
PS E:\Ravi\Office\Work\Angular\Rv-Marathi> node node_modules/angular2-image-gallery/convert.js /assets/images/decorations/gallery

Images will be scanned from this location:
/assets/images/decorations/gallery/

Images will be exported to this location:
E:\Ravi\Office\Work\Angular\Rv-Marathi/src/assets/img/gallery/

Images will be expected during runtime at this location:
assets/img/gallery/

No so

[2021-07-06 23:30] Fiehra commented on #106
can confirm this issue when running convert  script. only since a few days ago script command didn change.
maybe dependency problem?
anyone workaround for this?

[2021-07-06 23:31] #97 closed

[2021-07-06 23:40] Fiehra commented on #106
for me the script still works while using angular 11   so this error only occurs to me after updating to angular 12

[2022-05-28 21:35] Dan-Lit commented on #106
I downgraded @angular/cli to 11.1.2 but still not working.

[2022-05-28 23:20] Dan-Lit commented on #106
I got it! This package is using mkdirp old syntax, which no longer works (https://github.com/isaacs/node-mkdirp/issues/26).

So you can either:
-Manually change the old method in the convert.js file to its current syntax (code below).
-Switch to an older Angular version (didn't check, but probably 8 would do the trick).

[code]

[2022-09-12 19:19] #106 closed

[2022-09-12 19:21] BenjaminBrandmeier commented on #106
Thanks @Dan-Lit

Revived this project after quite some time and copied your adjustments into master.

[2022-09-12 19:22] BenjaminBrandmeier commented on #90
This should be fixed with the new version 14

[2022-09-12 19:22] #90 closed

[2022-09-12 19:23] BenjaminBrandmeier commented on #85
14 is now supported. Closing this issue.

[2022-09-12 19:23] #85 closed

[2022-09-12 19:24] BenjaminBrandmeier commented on #84
Actually I have to adjust the README. There are some additional ones to make the convert script running. But thanks for pointing out @LeanderCoevoet

[2022-09-12 19:25] BenjaminBrandmeier commented on #79
This should be fixed with the new 14 release.

[2022-09-12 19:25] #79 closed

[2022-09-14 15:15] dhrn commented on #85
great effort! thanks for the update

[2022-09-14 17:31] #46 closed

[2022-09-14 17:31] #71 closed

[2022-09-14 19:31] BenjaminBrandmeier commented on #84
All dependencies of the convert script are now part of the peerDependencies.

[2022-09-14 19:31] #84 closed